*.dylib
*.os
*.pyc
*.so
*.dat
*.fits
*.text
*.log
*.bak
bin
src_old/*
*checkpoint.ipynb
*logfile*
*history*
*.*.*
*kdev4*
*makefile*
*.ipynb

.sconf_temp
.sconsign.dblite
config.log

doc/html
doc/doxygen.conf
doc/drp_stella.tag

python/pfs/drp/stella/stellaLib.py
python/pfs/drp/stella/stellaLib_wrap.cc
python/pfs/drp/stella/version.py
doxygen_old_doc/
include/pfs/drp/stella/math/old/
include/pfs/drp/stella/math/temp.cc
include/pfs/drp/stella/math/temp.h
include/pfs/drp/stella/old/
include/pfs/drp/stella/test_3d_ndarray.h
make
obs_subaru/
python/lsst/
python/pfs/drp/stella/TPSChiSquare_old.ipynb
python/pfs/drp/stella/extractSum_vs_MkSlitFunc_vs_extractFromProfile_bak.ipynb
python/pfs/drp/stella/multipage_pdf.pdf
python/pfs/drp/stella/stellaLibTest.i
python/pfs/drp/stella/temp.ipynb
python/pfs/drp/stella/test.png
python/pfs/drp/stella/testFiberTraces.py
python/pfs/drp/stella/testPSF.py
python/pfs/drp/stella/test_3d_ndarray.py
python/pfs/drp/stella/test_new.py
python/pfs/drp/stella/valgrind_SES
python/pfs/drp/stella/valgrind_extractFromProfile_pfs
python/pfs/drp/stella/valgrind_pfs
rhl_scons_tests
src/make_test_3d_ndarray
src/math/old/
src/old/
src/runMe
src/test.cc
src/test_3d_ndarray
src/test_3d_ndarray.cc
src/test_3d_ndarray.dSYM/
temp/

tests/.tests/

ups/drp_stella.cfgc

_build
bak
doc/install+commentsRHL.rtf
doc/install.html
git_log_PIPE2D-32.out
git_show-branch_PIPE2D-32.out
sourcetreeconfig
tempfile
ups/drp_stella.build
