.sconf_temp
.sconsign.dblite
config.log
*.dylib
*.os
*.pyc
*.so
bin
doc/html
doc/doxygen.conf
doc/drp_stella.tag
python/pfs/drp/stella/version.py
python/drp_stella.dist-info
tests/.tests/
ups/drp_stella.cfgc
sphinx/_build/
.cache
.coverage
.pytest_cache
.nfs*
